In [10]:
#            TASK NUMBER 1
English = int(input("English Marks  "))
Urdu = int(input("Urdu Marks  "))
Physics = int(input("Physics Marks  "))
Chemistry = int(input("Chemistry Marks  "))
Maths = int(input("Maths Marks  "))
Total = English + Urdu + Physics + Chemistry + Maths
print ("Mark Obtained",Total)
if Total >= 400 and Total < 500 :
     print("Pass A+ Grade")  
elif Total >= 350 and Total < 399 :
 print("Pass A Grade")
elif Total >= 300 and Total < 349 :
 print("Pass B Grade")
elif Total >= 250 and Total < 299 :
 print("Pass C Grade")
elif Total >= 200 and Total < 249 :
 print("Pass D Grade")
else  :
 print("Fail")

English Marks  55
Urdu Marks  67
Physics Marks  74
Chemistry Marks  83
Maths Marks  44
Mark Obtained 323
Pass B Grade

In [11]:
#            TASK NUMBER 2
num = int(input("Enter a number: "))  
if (num % 2) == 0:  
   print("{0} is Even number".format(num))  
else:  
   print("{0} is Odd number".format(num))

Enter a number: 41
41 is Odd number

In [12]:
#            TASK NUMBER 3
a = ['Pakistan'],['India'],['USA'],['UAE']
print("Length of List is ",len(a))

Length of List is  4

In [5]:
#            TASK NUMBER 4
list1 = [11, 5, 17, 18, 23] 
total = sum(list1) 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [13]:
#            TASK NUMBER 5
list1 = [10, 20, 4, 45, 99, 1000] 
list1.sort() 
print("Largest element is:", list1[-1])

Largest element is: 1000

In [14]:
#            TASK NUMBER 6
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

for x in a:
	if x < 5:
		print (x)

1
1
2
3